{% load static %}
{# load the tag library #}
{% load bootstrap3 %}

{# load css and javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'OlimpiColombiaSite/stylesheets/main.css' %}" />


<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'OlimpiColombiaSite:index' %}">OlimpiColombia</a>
  </div>

  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>

<div class="panel panel-primary">
<h1 align="center">{{ deporte.nombre }}</h1>
</div>

{% for atleta in lista_atletas %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#" >
                <img class="img-responsive img-rounded" src="{{ atleta.fotografia }}" width="150" height="178"/>
            </a>
            <div class="caption">
               <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <td>{{ atleta.nombres }}</td>
                    </tr>
                    <tr>
                        <th>Fecha nacimiento</th>
                        <td>{{ atleta.fecha_nacimiento }}</td>
                    </tr>
                    <tr>
                        <th>Edad</th>
                        <td>{{ atleta.edad }}</td>
                    </tr>
                    <tr>
                        <th>Peso</th>
                        <td>{{ atleta.peso }}</td>
                    </tr>
                    <tr>
                        <th>Estatura</th>
                        <td>{{ atleta.estatura }}</td>
                    </tr>
                    <tr>
                        <td><a href="/calendario/{{ atleta.id }}" >Resultados Competencia</a></td>
                    </tr>
               </table>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
