{% load static %}
{# load the tag library #}
{% load bootstrap3 %}

{# load css and javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'OlimpiColombiaSite/stylesheets/main.css' %}" />

<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'OlimpiColombiaSite:index' %}">OlimpiColombia</a>
  </div>

  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="#">Bienvenid@, {{ user.get_username }}.</a></li>
            <li><a href="/logout/">Salir</a></li>
        {% else %}
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/usuarios/registrar">Registro</a></li>
        {% endif %}

    </ul>
  </div>
</nav>

<center>
  <video width="640" height="480" controls>
    <source src="{{object.video.url}}" type="video/mp4">
    <source src="{{object.video.url}}" type="video/ogg">
    Tu navegador no soporta videos embebidos.
  </video>
  <span class='st_facebook_vcount' displayText='Facebook'></span>
  <span class='st_twitter_vcount' displayText='Tweet'></span>
  <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0116aee8-382b-4f40-a739-ac6f0bf99730", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
</center>
